body {
    background-color: #fff;
    font-family: Georgia, serif;
}

/* page header */
h1 a {
    color: #000;
    font-size: 1.4em;
    text-decoration: none;
    text-rendering: optimizeLegibility;
}

/* page subheader */
h2 a {
    color: #333;
    font-size: 1.2em;
    text-decoration: none;
    text-rendering: optimizeLegibility;
}

/* contains header + subheader */
#serendipity_banner {
    margin: auto;
    max-width: 50em;
}

/* main entry list */
#content {
    margin: auto;
    max-width: 50em;
}

/* entry titles */
h4.serendipity_title a {
    color: #333;
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 2em;
    text-decoration: none;
    text-rendering: optimizeLegibility;
}

/* entry dates */
h3.serendipity_date {
    color: #666;
    font-size: 1em;
    margin-bottom: 1em;
    text-rendering: optimizeLegibility;
}

p {
    color: #333;
}

blockquote {
    padding-left: 2em;
    padding-right: 2em;
}

img {
    align: left;
    margin-top: 2em;
    margin-botom: 2em;
}

div.serendipity_entry_body a {
    color: #333;
    text-decoration: underline;
    text-decoration-color: #666;
}

/* footer */
div.serendipity_entryFooter,
div.serendipity_entryFooter a {
    color: #666;
    margin-top: 2em;
}
div.serendipity_entryFooter a { text-decoration: underline; }
